<p id="notice"><%= notice %></p>

<p>
  <strong>Item Value:</strong>
  <%= @item_value.name %>
</p>

<%= link_to 'Edit', edit_item_value_path(@item_value) %> |
<%= link_to 'Back', item_values_path %>
